### Qt ###
# Автогенерируемые файлы
*.pro.user
*.pro.user.*
*.autosave

# Сборка
build*/
*/build*/
*.build
*.build.*
Debug/
Release/
x64/
x86/
*.dir/
*.vcxproj.*
*.vcxproj
*.sln
*.qmake.stash

# Автогенерируемые файлы CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake
Makefile

### C++ ###
# Бинарные и объектные файлы
*.o
*.obj
*.a
*.lib
*.dll
*.exe
*.so
*.dylib

### Исключения (что НЕ игнорируем) ###
!*.cpp
!*.h
!*.hpp
!*.c
!*.cc
!*.cxx
!CMakeLists.txt
!.gitignore
!README.md
!*.pro